.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 50px 0 36px;
}
.khan__quote-author{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline{
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 68px;
}
