@import url(/blocks/kaufman/__triangle/kaufman__triangle.css);
.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  font-size: 24px;
  color: #fff;
}

.table_theme_dark{
  margin: 0 auto;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.table__cell_theme_dark{
  width: 200px;
  margin: 80px 0 0;
}

.section-title_theme-dark {
  position: relative;
  z-index: 1;
}
.section-subtitle_theme-dark {
  position: relative;
  z-index: 1;
  margin: 20px auto 0;
}
