@import url(/blocks/footer/__author/__author.css);
@import url(/blocks/footer/__column/__column.css);
@import url(/blocks/footer/__columns/__columns.css);
@import url(/blocks/footer/__column-heading/__column-heading.css);
@import url(/blocks/footer/__column-link/__column-link.css);
@import url(/blocks/footer/__column-links/__column-links.css);
@import url(/blocks/footer/__column_content_copyrigt/__column_content_copyrigt.css);
@import url(/blocks/footer/__social-icon/__social-icon.css);
.footer {
  margin: 0 auto;
  background-color: #1f1f1f;
  font-size: 18px;
  color: white;
  padding: 60px 0 40px;
}
